.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.about h2 {
  font-size: 64px;
  font-weight: 600;
  color: #d37876;
}

.about p {
  width: 400px;
  margin-bottom: 40px;
}
