.about {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.about div {
  width: 40%;
  height: 500px;
}

.about div p {
  max-width: 450px;
  margin-bottom: 60px;
}

.about h4 {
  font-weight: 600;
}
