.repo-container {
  margin: 0 auto;
  max-width: 1028px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.repo {
  width: 48%;
  height: 145px;
  border-radius: 15px;
  background: #101017;
  border: 1px solid #28293c;
  padding: 30px;
  /* margin-right: 32px; */
  margin-bottom: 32px;
}

.repo h4 {
  display: inline;
  font-size: 1.5em;
  text-decoration: underline;
}

.repo span {
  float: right;
  color: #a1a1a6;
}

.repo p {
  margin: 10px 0;
  opacity: 0.8;
}
