.service-card {
  width: 196px;
  border-radius: 15px;
  padding-top: 78px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-right: 1em;
  margin-top: 50px;
}

.service-card:nth-child(1) {
  height: 208px;
  background: linear-gradient(#bda3f7 0%, #713ee5 100%);
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
}

.service-card:nth-child(2) {
  height: 287px;
  background: linear-gradient(#f78764 0%, #e55528 100%);
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
}

.service-card:nth-child(3) {
  height: 208px;
  background: linear-gradient(#64b3f7 0%, #2e81c9 100%);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}
