@import 'mixins';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: $white;
  color: $dark;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// spacing
.container {
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }

  &-fd-c {
    flex-direction: column;
  }
}

// button
button,
.button {
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  background-color: $purple;
  color: $white;
  font-weight: 400;
  font-size: $font-med;
}

// visibility
.hide-for-mobile {
  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport width
  @include breakpoint-up(large) {
    display: none;
  }
}

.headline {
  text-align: center;
  font-weight: 300;
  max-width: 870px;
  margin: 5rem auto;
}
