@import 'mixins';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: $white;
  color: $dark;
  font-weight: 300;
  ascent-override: 80%;
  sescent-override: 20%;
  line-gap-override: 0%;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
  max-width: 700px;
}

h1,
h2,
h3 {
  margin: 0 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  font-family: Poppins;
  color: #1f2122;
  text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.096);
}

h1 {
  font-size: 4.236rem;
  font-weight: 600;
}

h2 {
  font-size: 2.618rem;
  font-weight: 600;
}

h3 {
  font-size: 1.618rem;
  font-weight: 500;
}

.section-title {
  text-align: center;
  font-weight: 400;
}

section {
  padding: 6rem 0;
  content-visibility: auto;
  contain-intrinsic-size: 0 500px;
}

// spacing
.container {
  padding: 1rem;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }

  &-fd-c {
    flex-direction: column;
  }

  &-fw-w {
    flex-wrap: wrap;
  }
}

// button
a.button-primary,
button.button-primary {
  padding: 1rem 2rem;
  border-radius: 7px;
  background-color: #a988f2;
  box-shadow: 0 1.8px 0.8px rgba(169, 136, 242, 0.02),
    0 4.3px 2.8px rgba(169, 136, 242, 0.032),
    0 8.1px 6.9px rgba(169, 136, 242, 0.041),
    0 14.5px 16.2px rgba(169, 136, 242, 0.2);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  transition: all 300ms ease-out;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
}

// visibility
.hide-for-mobile {
  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport width
  @include breakpoint-up(large) {
    display: none;
  }
}

.headline {
  text-align: center;
  font-size: 2.625rem !important;
  font-weight: 300 !important;
  max-width: 870px;
  margin: 5rem auto;
}

/* 
====================================================================
CASE STUDIES
====================================================================
*/
.case-study {
  background: #ffffff !important;
}
.case-study-content {
  max-width: 816px;
  padding: 2em 1em 2em;
  margin: 0 auto;

  & video,
  & img {
    width: 100%;
    max-width: 816px;
    height: auto;
    border-radius: 15px;
    border: 1px solid rgba(77, 80, 87, 0.233);
    margin-bottom: 4em;
  }

  & h4 {
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  & li,
  & p {
    max-width: 600px;
  }
  & p {
    margin-bottom: 2em;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 300;
  }

  & ul {
    margin-bottom: 1em;
  }

  & iframe {
    width: 100%;
    height: 460px;
    border-radius: 15px;
    border: 1px solid rgba(77, 80, 87, 0.44);
  }
}
