.projects {
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;

    @include breakpoint-up(large) {
      width: calc(50% - 0.5rem);
    }

    & img {
      width: 100%;
      max-width: 100%;
      display: block;
      transform: scale(1);
      transition: all 300ms ease-in-out;
      &:hover {
        @include scale-up(1.05);
      }
    }
    & a {
      line-height: 0;
    }
  }
}
