// Colors

// Primary
$dark: #1f2122;
$purple: #a988f2;

// Neutral
$lightBlue: #2292e5;
$orangeishRed: #f78764;
$milky: #fafafa;
$white: hsl(0, 0%, 100%);
$overlayBlack: hsla(200, 5%, 13%, 0.5);

// Font size
$font-med: 1rem; // 16px
$font-sm: 0.875rem; // 14px
