@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 400ms ease-in-out forwards;
          animation: fade-in 400ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 400ms ease-in-out forwards;
          animation: fade-out 400ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: white;
  color: #1f2122;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button,
.button {
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  background-color: #a988f2;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.headline {
  text-align: center;
  font-weight: 300;
  max-width: 870px;
  margin: 5rem auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 90;
  background-color: white;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  /* 
  ======================================================
  OVERLAY
  ======================================================
  */
  /* 
  ======================================================
  HAMBURGER MENU
  ======================================================
  */
  /* 
  ======================================================
  NAV LINKS
  ======================================================
  */
  /* 
  ======================================================
  NAV CTA
  ======================================================
  */
}

.header .overlay {
  z-index: 99;
  background-color: rgba(31, 34, 35, 0.5);
  position: absolute;
  visibility: hidden;
  top: 4.3125rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__logo img {
  width: 2rem;
  height: 2rem;
}

.header.open .overlay {
  visibility: visible;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 33px;
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
  margin-left: -32px;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 33px;
}

.header__toggle {
  height: 32px;
  width: 32px;
  text-align: right;
}

.header__toggle > span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #1f2122;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 10px;
}

.header__links {
  margin-right: -5.9375rem;
}

.header__links a {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  color: #1f2122;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  border: 0;
  border-radius: 1px;
  background-color: #a988f2;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #1f2122;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__cta {
  font-size: 1rem;
  color: white;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #a988f2;
  color: #a988f2;
  cursor: pointer;
}

.header__cta:hover {
  opacity: 0.75;
}

.mobile__menu {
  background-color: white;
  padding: 3rem 0;
  margin: 1rem auto;
  width: calc(100% - 2rem);
  border-radius: 15px;
  height: auto;
}

.mobile__menu .mobile-link {
  display: block;
  color: #1f2122;
  text-align: center;
  font-weight: 300;
  width: 200px;
  margin: 0 auto;
  padding: 1rem;
}

.mobile__menu:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 64em) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects .project {
  width: 100%;
  margin-bottom: 0.5em;
}

@media (min-width: 64em) {
  .projects .project {
    width: calc(50% - 0.5em);
  }
}

.projects .project img {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.projects .project img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.projects .project a {
  margin: 0;
  padding: 0;
  height: 0;
  line-height: 0;
}
/*# sourceMappingURL=style.css.map */